<!-- about -->
<div class="container mt-5">
  <div class="row">
    <div class="card-deck">
      <article class="card col-12 col-lg-6 text-center">
        <h4 class="card-title mb-3 mt-5">Apply as a Student</h4>
        <div class="card-body">
        
          <p>These courses are balloted, which means you need to submit an application.</p>
          <p>You will need a PDF of your most recent unofficial transcript from ROSI/Acorn (i.e. a full academic history), a PDF of your up-to-date resume/CV and answers to a set of ballot courses.</p>
          <details>
            <summary>What are we looking for?</summary>
            <p class="text-left">Typically students who are accepted have:</p>
            <ul class="text-left">
              <li>Passion</li>
              <li>Usually have a good GPA, though there is no set minimum</li>
              <li>Have software experience for CSC491/2600</li>
              <li>Show entrepreneurial drive</li>
            </ul>
          </details>
        </div>

        <div class="card-footer bg-white">
          <a href="{{ page.link.href }}" class="btn btn-sm btn-primary mx-auto">{{ page.link.text }}</a>
        </div>
      </article>

      <article class="card col-12 col-lg-6 text-center">
        <h4 class="card-title mb-3 mt-5">Apply to be a TA</h4>
        <div class="card-body">

          <p>We are looking for TAs that generally have startup and software experience.</p>
          <p>These candidates should bring unique perspectives to the courses.</p>
          <p>We use the standard application process for the University of Toronto.</p>
        </div>
        <div class="card-footer bg-white">
          <a href="http://www.cs.utoronto.ca/~reid/tapp/" class="mx-auto btn btn-sm btn-primary">Apply Now</a>
        </div>
      </article>
    </div>
  </div>
</div>
<!-- /about -->
