<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Overview</h2>
      </div>
      
      <p>This course introduces you to the nature, structure, and dynamics of the contemporary software industry.</p>
      <p>It focuses on the key factors involved in ideating, hypothesizing, validating, and executing a viable and investable/return driven business model to launch a sustainable, scalable and profitable tech-based (software and/or hardware) business venture as a company founder or as an employee of an established company.</p>
      <p>The course will be a team effort of four students per team. The scope of the course does not include not-for-profit or charity business models.​</p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Course Objectives</h2>
      </div>
      
      <ul>
        <li class="my-2">The high-technology business environment in general and the software industry in particular.</li>
        <li class="my-2">The business concepts and principles behind creating and launching a successful tech venture.</li>
        <li class="my-2">How to produce, present, and critique business proposals and plans for ventures, and how to develop business simulation and forecasting models in support of these plans.</li>
        <li class="my-2">How to converse with and present to investors, executives, judging panels, incubators and accelerators.</li>
        <li class="my-2">Upon successful completion of the course, you will have first-hand experience of the stages, processes, and challenges involved in transforming an idea into an investable and scalable business venture, and will be ideally positioned to begin launching your own tech venture.</li>
      ​</ul>

      <p>In this course, you will learn techniques and methodologies that will give you a distinct career advantage after graduation, whether or not you intend to work in a tech field.</p>
      <p>It is designed to give you a true-to-life experience of the thought processes behind successful tech business ventures, which apply whether you are planning on creating your own startup or working for an established employer.</p>
      <p>You and your team will devise a cool, innovative solution to a significant market problem. This will involve researching your customer base, forming and testing hypotheses, and producing a value proposition that will form the basis for your business model.</p>
      <p>You will investigate your customer base and market by identifying the key activities, resources and partners needed for fulfillment.</p>
      <p>This process culminates in a business model that both makes sense in a financial context and resonates with a venture capital (VC) or funding audience—the kind of audience who will eventually be visiting the class to critique your final product and business model.</p>
      <p>This course sets very high standards for you because the business world demands nothing less. We have an obligation to ensure that your business education is thorough and demanding, and only students who are exceptionally dedicated and committed to developing mastery over the techniques and methodologies in this course will excel.</p>
    </div>
  </div>
</section>
<!-- /about -->
