<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">How to Apply</h2>
      </div>
      
      <p>These courses are balloted and as part of the balloting procedure, you will need a PDF of your most recent unofficial transcript from ROSI/Acorn (i.e. a full academic history), a PDF of your up-to-date resume/CV and answers to a set of ballot courses.</p>
      <a href="{{ layout.link.href }}" class="btn btn-primary mx-auto">{{ layout.link.text }}</a>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Apply to be a TA</h2>
      </div>

      <p>We are looking for TAs that generally have startup and software experience.</p>
      <p>These candidates should bring unique perspectives to the courses.</p>
      <p>p>We use the standard application process for the University of Toronto. <a href="http://www.cs.utoronto.ca/~reid/tapp/">Please apply here</a></p>
    </div>
  </div>
</section>
<!-- /about -->
