<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 text-center">
        <h2 class="mb-4">Apply as a Student</h2>
        
        <p>These courses are balloted and as part of the balloting procedure.</p>
        <p>You will need a PDF of your most recent unofficial transcript from ROSI/Acorn (i.e. a full academic history), a PDF of your up-to-date resume/CV and answers to a set of ballot courses.</p>
        <a href="{{ page.link.href }}" class="mt-4 btn btn-sm btn-primary mx-auto">{{ page.link.text }}</a>
      </div>

      <div class="col-12 col-lg-6 text-center">
        <h2 class="mb-4">Apply to be a TA</h2>

        <p>We are looking for TAs that generally have startup and software experience.</p>
        <p>These candidates should bring unique perspectives to the courses.</p>
        <p>We use the standard application process for the University of Toronto.</p>
        <a href="http://www.cs.utoronto.ca/~reid/tapp/" class="mt-4 btn btn-sm btn-primary mx-auto">Apply Now</a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
