{% if site.data.settings.courses %}
<!-- team -->
<section class="section bg-cover" data-background="{{ site.baseurl }}/assets/images/backgrounds/team-bg.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Our Courses</h2>
      </div>
      <div class="card-deck">
      {% for course in site.data.settings.courses %}
        <div class="card text-center">
          <img src="{{ course.image | relative_url }}" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{ course.code }}</h4>
            <p class="text-light font-secondary">{{ course.title }}</p>
            <a href="./{{ course.code | split: '/' | first }}" class="btn btn-sm btn-primary">View Course</a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- /team -->
{% endif %}