{% if site.data.settings.courses %}
<!-- course -->
<section class="section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title text-white">Our Courses</h2>
      </div>
      <div class="card-deck">
      {% for course in site.data.settings.courses %}
        <div class="card text-center">
          <img src="{{ course.image | relative_url }}" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{ course.code }}</h4>
            <p class="text-light font-secondary">{{ course.title }}</p>
            <a href="./{{ course.code | split: '/' | first | downcase }}" class="btn btn-sm btn-primary">View Course</a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

  {% include apply-section.html %}
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Theme</h2>
      </div>
      
      <ul>
        <li class="my-2">Themes change on a term-by-term basis. They are announced 6-10 weeks prior to a term starting</li>
        <li class="my-2">Each term will be mentored and guided by industry experts.</li>
        <li class="my-2">Industry experts will provide us a theme of products (e.g. HealthCare AI, Music, Cyber Security, etc). They will be experts in that field.</li>
        <li class="my-2">These themes and business partners are carefully chosen to make sure that startups will be working on marketable, viable startups.</li>
        <li class="my-2"><a href="/terms">See themes from all terms</a></li>​
      </ul>

      <a href="{{ site.data.settings.theme.link }}" class="btn btn-primary  mx-auto">{{ site.data.settings.theme.term }}</a>
    </div>
  </div>
</section>
<!-- /course -->
{% endif %}