<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary mb-0">{{ site.data.settings.hero.hero-title }}</h1>
        <h3 class="text-light font-tertiary">{{ site.data.settings.hero.hero-subtitle }}</h3>
        <a href="{{ site.data.settings.hero-btn-link }}" class="btn btn-outline-primary">{{ site.data.settings.hero-btn-text }}</a>
      </div>
    </div>
  </div>
</section>
<!-- /hero area -->
