<!-- hero area -->
<section class="hero-area bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary mb-0">{{ site.data.settings.hero.hero-title }}</h1>
        <p class="h4 text-white text-uppercase font-tertiary">{{ site.data.settings.hero.hero-subtitle }}</p>
        <a href="{{ site.data.settings.hero.hero-btn-link }}" style="white-space: normal;" class="text-uppercase font-tertiary border btn btn-light mt-3 mr-2">
           {{ site.data.settings.hero.hero-btn-text }}
        </a>
        <a href="{{ site.data.settings.hero.hero-secondary-btn-link }}" style="white-space: normal;" class="text-uppercase font-tertiary border btn btn-outline-light mt-3">
           {{ site.data.settings.hero.hero-secondary-btn-text }}
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /hero area -->
