{% if site.data.settings.testimonial-items %}
<!-- testimonial -->
<section class="section bg-primary position-relative testimonial-bg-shapes">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="section-title text-white mb-0">Testimonials</h2>
        <div class="testimonial-slider-arrows mx-auto"></div>
      </div>
      <div class="col-lg-10 mx-auto testimonial-slider">
        {% for testimonial-item in site.data.settings.testimonial-items %}
        <!-- slider-item -->
        <div class="text-center testimonial-content">
          <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
          <p class="text-white mb-4">{{ testimonial-item.content }}</p>
          {% if testimonial-item.image %}
          <img class="img-fluid rounded-circle mb-4 d-inline-block" src="{{ testimonial-item.image | relative_url }}"
            alt="{{ testimonial-item.name }}">
          {% endif %}
          <p class="h4 text-white">{{ testimonial-item.name }}</p>
          <p class="h6 text-white mb-4">{{ testimonial-item.designation }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- /testimonial -->
{% endif %}
