---
layout: default
---

<!-- page title -->
<section class="page-title bg-primary position-relative" {% if page.title == "" or page.title == nil %}style="padding: 125px 0 125px;"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
        {% if layout.link %}
          <a href="{{ layout.link.href }}" class="btn btn-outline-light border">{{ layout.link.text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

{{ content }}