---
layout: default
---

<!-- page title -->
<section class="page-title bg-primary position-relative" {% if page.title == "" or page.title == nil %}style="padding: 125px 0 125px;"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        {% if page.image %}
          <img src="{{ page.image }}" class="mb-4 rounded-circle" style="object-fit: cover;" {% if page.image_size %}width="{{ page.image_size }}" height="{{ page.image_size }}"{% else %}height="100" width="100"{% endif %} />
        {% endif %}
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
        {% if page.description %}<p class="lead text-white font-tertiary">{{ page.description }}</p>{% endif %}
        {% if page.link %}
          {% if page.link.first %}
            {% if page.link.href %}
              <a href="{{ page.link.href }}" class="btn btn-outline-light border">{{ page.link.text }}</a>
            {% else if page.link.text %}
              {% assign text = page.link.text | strip %}
              {% if text != "" %}
                <span class="btn btn-outline-light disabled border">{{text }}</span>
              {% endif %}
            {% endif %}
          {% else %}
            <a href="{{ site.data.settings.links[page.link].link }}" class="btn btn-outline-light border">{{ site.data.settings.links[page.link].title }}</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

{{ content }}