---
layout: default
---

<!-- page title -->
<section class="page-title bg-primary position-relative" {% if page.title == "" or page.title == nil %}style="padding: 125px 0 125px;"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        {% if page.image %}
          <img src="{{ page.image }}" class="mb-4 rounded-circle" style="object-fit: cover;" {% if page.image_size %}width="{{ page.image_size }}" height="{{ page.image_size }}"{% else %}height="100" width="100"{% endif %} />
        {% endif %}
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
        {% if page.description %}<p class="lead text-white font-tertiary">{{ page.description }}</p>{% endif %}
        {% if page.link and page.link.href %}
          <a href="{{ page.link.href }}" class="btn btn-outline-light border">{{ page.link.text }}</a>
        {% else if page.link and page.link.text %}
          <span class="btn btn-outline-light disabled border">{{ page.link.text }}</span>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

{{ content }}